@font-face {
    font-family: 'BlackRoseSwash';
    src: url('../fonts/BlackRoseSwash.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Osiris';
    src: url('../fonts/Osiris.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
