.blue
{
    background-color: #337ab7;
}
.dishImageSaveBtn {
    float: right;
    font-size: 14pt;
    cursor: pointer;
}
.dishImageSaveBtn:hover
{
    color: #0b93d5;
}

.input-check {
    display: inline-block;
    *display: inline; /* inline-block ie7 fix */
    *zoom: 1;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}
.input-check input {
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}
.input-check label {
    font-size: 14px;
    line-height: 22px;
    display: block;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    height: 19px;
}
.input-check label:before {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 15px;
    margin-top: -7px;
    /*background: rgba(0, 0, 0, 0) url(@app/modules/dishes/web/images/checkbox_RedGreen.png) no-repeat;*/
    z-index: 5;
    content: '';
}
.input-check input:checked + label:before {
    background-position: 0 -13px;
}
.table > tbody > tr > td
{
    line-height: 35px;
}
td, th {
    padding: 0;
    text-align: center;
}
.selectsBox
{
    line-height: 100px;
    font-size: 14pt;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 35px;
    opacity: 0.5;
    background-color: #5cb85c;
}
.selectsBox.thisNotActive
{

    cursor: not-allowed;
    opacity: 0.5;
    display:none;
}
.selectsBox.thisNotActive label
{
    cursor: not-allowed;
}
.selectsBox.thisNotActive .input-check
{
    cursor: not-allowed;
}
.selectsBox.thisActive
{

    opacity: 1;
}
.selectsBox.thisActive label
{
    cursor: pointer;
}
.selectsBox.thisActive .input-check
{
    cursor: pointer;
}
.newDishBox input[type=number]
{
    width: 100px;
}
.newDishBox input {
    margin-left: 120px;
    margin-bottom: 5px;
    max-width: 340px;
}.newDishBox select {
    margin-left: 120px;
    margin-bottom: 5px;
    max-width: 340px;
}
.newDishBox {
    float: left;
    width: 500px;
    /* padding: 50px; */
    background-color: #ecffed;
    border: 1px solid #0a800a;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}
.newDishBox label {
    /* float: left; */
    position: absolute;
    line-height: 34px;
    width: 110px;
    text-align: right;
}
.addProduct {
    float: left;
    width: 100%;
}
input.dish_product {
    /*background-color: #e0e0e0;*/
    /*border: unset;*/
    /*box-shadow: unset;*/
    width: 200px;
}
.divBtn {
    width: 30px;
    height: 30px;
    float: left;
    background-color: #2e8806;
    /*margin-left: 10px;*/
    border-radius: 30px;
    line-height: 29px;
    font-size: 20px;
    text-align: center;
    color: #a5ff86;
    margin-top: 2px;
    cursor: pointer;
    padding-left: 1px;
    margin-left: 16px;
    margin-right: -30px;
}
.applyProduct.glyphicon-remove{
    background-color: red;
}
.applyProduct

{
    margin-top: -36px;
    margin-left: 333px;
}
.addOneInputLabel
{
    width: 59%;
    float:  left;
    text-align:  right;
    line-height: 35px;
}
.productsBox
{
    float:  left;
    width:  100%;
    text-align:  center;
    line-height: 23px;
}
.ui-widget-content {
    max-width: 500px;
    color: #222222;
    overflow: overlay;
    /*max-height: 164px;*/
    padding: 0;
    overflow-x: hidden;
    position: fixed!important;
    border-radius: 10px;
    border: 1px solid #0e6116;
    /*border: 1px solid #d3d3d3;*/
    top: 169px!important;
    left: 526px!important;
    max-height: 364px!important;
}
input.dish_product_weight {
    width: 100px;
}
#semifinished {
    position: fixed;
    margin-left: 529px;
    top: 59px;
    /*background-color: darkseagreen;*/
    /*padding: 20px;*/
    /*padding-left: 0px;*/
    max-height: 300px;
    overflow: auto;
}
span.prodWeight.warning {
    color: red;
}
#semifinished li {
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
#semifinished h2 {
    margin: 0;
    margin-bottom: 15px;
}
#semifinished li:hover
{
    background-color: wheat;
}
#semifinished ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    margin-bottom: 0px;
}